@import "_variables";
@import "_reset";
@import "_responsive";


html, body {
  background-color: $bg-color-main;
  color: $text-color-main;
}

.color-white {
  color: $text-color-white !important;
}
.text-align-center {
  text-align: center;
}

.flex-vCenter {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.flex-hCenter {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

.bg-transparent {
  background: transparent;
}

.text-regular {
  font-weight: 400;
}
.text-medium {
  font-weight: 500;
}
.tf-none {
  text-transform: none !important;
}

.bb-x1 {
  border-bottom: 1px solid;
}


.border-radius-pill {
  border-radius: 9999px !important;
  border:2px solid !important;
}


header {
  .top-nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding:0 1.2963vw;
  }
}

footer {
  padding: calc(100vw * 1/27);
  .footer-content {
    display: flex;
    justify-content: flex-start;
    .language-select {
      display: flex;
      align-items: center;
      cursor: pointer;
      padding: 0 1.7vw;
      @media (max-width: 1023px) {
        img {
          width: 4vw;
        }
        .country-name {
          margin: 0 2vw;
        }
      }
      @media (min-width: 1024px) {
        img {
          width: 2vw;
        }
        .country-name {
          margin: 0 1.3vw;
        }
      }
    }
    ul.social-icons {
      li {
        padding: 0 1.7vw;
      }
    }
  }
}

/* Begin HomPage Styling */
.main {
  padding: 0 calc(100vw * 1/27);
}
@media (max-width: 1023px) {
  .content-slot-top {
    background: url("../images/bg-home1-sm.jpg") no-repeat center;
    height: calc(100vw * 1628/1440);
  }
}
@media (min-width: 1024px) {
  .content-slot-top {
    background: url("../images/bg-home1-lg.jpg") no-repeat center;
    height: calc(100vw * 872/1850);
  }
}
.content-slot-top {
  @extend .flex-vCenter;
  justify-content: center;
  background-size: cover;
  color: $text-color-white;
}
.product-slot {
  .product-box {
    padding: 7vw 1vw 4vw 1vw;
    transition: transform .5s;
  }
  .product-box:hover {
    transform: scale(1.05, 1.05);
  }
  .product-box1 {
    @extend .product-box;
    background-image: linear-gradient(233deg, #818080, #4F4F4F);
    color: $text-color-white;
  }
  .product-box2 {
    @extend .product-box;
    background-image: linear-gradient(233deg, #FFFFFF, #E9E9E9);
    color: #002a3a;
  }
}
.content-slot-mid {
  .text-slot {
    display: flex;
    justify-content: space-between;
    background-color: #1c5f4a;
    margin-top: -4px;
    color: rgb(216, 216, 216);
    @media (min-width: 1024px) {
      .text-x5 {
        font-size: calc(100vw * 1.3/27);
      }
    }
  }
}
.content-slot-bottom {
  margin-top: calc(100vw *3/27);
  margin-bottom: calc(100vw *2/27);
  flex-direction: row-reverse;
  @media (max-width: 1023px) {
    .heading {
      padding: calc(100vw * 2 / 27) 0 calc(100vw * 3 / 27) calc(100vw * 2 / 27);
    }
  }
  @media (min-width: 1024px) {
    .heading {
      padding: calc(100vw * 2/27) calc(100vw * 1.5/27) 0 0;
    }
  }
}
