@import "_variables";
@import "_reset";


html, body {
  background-color: $bg-color-main;
  color: $text-color-main;
}

.text-center {
  text-align: center;
}

.link-item {
   text-decoration: none;
   color: inherit;
}

.vertical-center-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.horizontal-center-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.content-slot-top {

}

