$bg-color-main: #d8d8d8;
$text-color-main: rgba(0,0,0,.8);
$text-color-white: rgba(255,255,255, 1);

$font-weight-normal: 500;
$font-weight-light: 400;

$x0p25: calc(100vw * 0.25/27);
$x1: calc(100vw * 1/27);
$x2: calc(100vw * 2/27);
$x3: calc(100vw * 3/27);
$x4: calc(100vw * 4/27);
$x5: calc(100vw * 5/27);
$x6: calc(100vw * 6/27);
$x7: calc(100vw * 7/27);
$x8: calc(100vw * 8/27);
$x9: calc(100vw * 9/27);
$x10: calc(100vw * 10/27);
$x11: calc(100vw * 11/27);
$x16: calc(100vw * 16/27);
$x17: calc(100vw * 17/27);
$x19: calc(100vw * 19/27);
$x21: calc(100vw * 21/27);
$x22: calc(100vw * 22/27);
$x27: calc(100vw * 27/27);